[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/Warwolt/raylib.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "lib/nlohmann"]
	path = lib/nlohmann
	url = https://github.com/nlohmann/json.git
